/*
background-image:
linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),
url('https://mdn.mozillademos.org/files/7693/catfront.png');*/


.fieldlist input[type="radio"] {
    float: right;
    -webkit-appearance: none;
    border: none;
    width: 25px;
    height: 25px;
    background: url(images/radio.png) left center no-repeat;
    background-size: 20px;
}

.fieldlist input[type="radio"]:checked {
    background: url(images/radio_checked.png) left center no-repeat;
}


#radiobutton {
    visibility: hidden;
}